.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.header{
    position: relative;
    height: 100px;
    /* background-color: aquamarine; */
    font-size: 16px;
    /* font-style: italic; */
    font-weight: 500;
    line-height: 100px;
}

.header .logo{
    top: 25px;
    display: flex;
    position: absolute;
    width: 150px;
    height: 50px;
    color: aqua;
    background-color:blueviolet;
    line-height: 50px;
    justify-content: center;
}
.header  ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li{
    display: inline;
    margin-right: 30px;
}

.ShowHeader{
    color: red;
}

.banner{
    height: 1200px;
    /* background-color: aquamarine; */
}

.banner .banner-list{
    display: flex;
}
.banner .banner-list li{
    display: block;
    width: 120px;
    height: 70px;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
    line-height: 70px;
    font-size: 18px;
    text-align: center;
    border-bottom: 3px solid red;
}
.banner .banner-list li:nth-child(1){
    background-color: rgb(255,2, 100);
    width: 240px;
}
.banner .banner-list li:nth-child(1) a{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 2, 100);
}

.banner .banner-content{
    display: flex;
    position: relative;
}

.banner .content-left{
    display: flex;
    width: 240px;
    height: 600px;
    background-color: red;
    margin-right: 15px;
}

.banner .content-left-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.banner .content-left-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}
.banner .content-left-list li a{
    margin-left: 15px;
   left: 2px;
   color: white;
   line-height: 40px;
   width: 100%;
   flex-grow: 1;
}
.banner .content-left-list li::after {
    content: "> ";
    font-weight: bold;
    transition: all 0.2s ease;
    margin-right: 10px;
    color: white;
}

.banner .content-left-list li:hover{
    background-color:#bbb;
}

.banner .content-center{
    /* width: 945px;
    display: flex;
    flex: 1;
    height: 585px;
    background-color: aqua;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
    border: 1px solid black;
    background-color:aquamarine; */

    width: 945px;
    height: 585px;
    background-color: aquamarine;
    position: relative;
    border: 1px solid black;
    margin-top: 15px;
    overflow: hidden;
}

.banner .content-center ul{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 400%; /* 4张图片，每张占25% */
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    /* 确保没有间距 */
    gap: 1px;
}

.banner .content-center ul li{
    width: 25%; /* 每张图片占25%宽度 */
    height: 100%;
    background-color: pink;
    flex-shrink: 0; /* 防止li被压缩 */
    /* 确保精确的25%宽度 */
    flex-basis: 25%;
    /* 移除可能的边距和内边距 */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 确保宽度计算包含边框和内边距 */
    /* margin-right: 2px; */
}

.banner .content-center .arrow-1{
    display: none;
    top: 50%; /* 改为百分比定位 */
    transform: translateY(-50%); /* 垂直居中 */
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(206, 197, 197, 0.5);
    z-index: 10;
}
.banner .content-center .arrow-1::after{
    margin-top: 15px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    border-top: 2px solid #000;
    border-right:2px solid #000;
    transform: rotate(-135deg);
}
.banner .content-center .arrow-1:hover::after { /* 修复语法错误 */
    border-top-color: orange;
    border-right-color: orange;
}

.banner .content-center .arrow-1:hover{
    background-color: rgba(206, 197, 197, 0.8);
}
.banner .content-center .arrow-2{
    display: none;
    top: 50%; /* 改为百分比定位 */
    transform: translateY(-50%); /* 垂直居中 */
    right: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: rgba(206, 197, 197, 0.5);
    z-index: 10;
}
.banner .content-center .arrow-2::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-top: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}
.banner .content-center .arrow-2:hover::after {
    border-top-color: orange;
    border-right-color: orange;
}

.banner .content-center .arrow-2:hover{
    background-color: rgba(206, 197, 197, 0.8);
}

 /* 小圆圈 */
    .circle{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
    }
    .circle li{
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-color: rgba(red, green, blue,0);
        border: 1px solid black;
        border-radius: 50%;
    }
    .circle li.current{
        background-color: white;
    }