.container{
    display: flex;
    .left_content{
        flex: 1;
        width: 200px;
        height: 800px;
        background-color: #f1f1f1;
        border-radius: 20px;
    }


    .VM{
        flex: 3;
        margin: 0 auto;
        width: 1000px;
        height: 600px;
        border: 1px solid #000;
        border-radius: 20px;
        .vm-content{
            height: 8%;
            border-radius: 20px 20px 0 0;
            background-color: rgba(145, 137, 137, 0.648);
            .small_crucial{
                margin-left: 20px;
                height: 100%;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 150px;
                li{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    &:nth-child(1){
                        background-color: #1bde42;
                    }
                    &:nth-child(2){
                        background-color: #debf13;
                    }
                    &:nth-child(3){
                        background-color: #f10a0a;
                    }
                }
            }
        }
        .scan{
            width: 100%;
            height: 92%;
            .mask{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: #383737ad;
                border-radius:0 0 20px 20px ;
                span{
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 100px;
                }
            }
        }
    }
}
